<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ubi.di.pdm.a44240_t0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="a44240_T0"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A44240_T0">
        <activity
            android:name=".Historico"
            android:exported="true" />
        <activity
            android:name=".EditarAtributos"
            android:exported="true" />
        <activity
            android:name=".CriarMensagem"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>